.service{
    background-color: #7db0c4;
    text-align: center;
    padding: 50px 200px;
}
.serv{
    background-color: #d0d0f3;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    box-shadow: 3px 3px 3px gray;
    margin: 20px 200px;
}
.none{
    padding: 20px;
    border-radius: 10px;
}