.nav{
    background-color: #7db0c4;
    text-align: left;
    padding: 50px 200px;
}
.pic{
    width: 100%;
}
.story{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}
.text{
    margin-left: 50px;
    text-align: left;
}
.team{
    text-align: center;
    margin-top: 100px;
}
.phots{
    width: 250px;
    height: 250px;
}